* {
  box-sizing: border-box; }

.botoes {
  border-radius: 10px;
  width: 80%;
  height: 20%;
  margin-top: 15px;
  cursor: pointer; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  body .main {
    width: 95vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    body .main .area-gera-senha {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border: 1px solid green; }
      body .main .area-gera-senha .gera-senha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
        border-radius: 15px;
        width: 60%;
        height: 80%; }
        body .main .area-gera-senha .gera-senha-visor {
          border: 1px solid;
          border-radius: 10px;
          width: 85%;
          height: 30px; }
        body .main .area-gera-senha .gera-senha-autoatendimento {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 85%;
          height: 65%;
          margin-top: 15px;
          justify-content: space-around; }
          body .main .area-gera-senha .gera-senha-autoatendimento .gerenciador {
            width: 30%;
            margin-top: 25px;
            margin-left: 50%; }
      body .main .area-gera-senha .gera-senha-ticket {
        padding: 5px;
        border: 1px solid;
        width: 30%;
        height: auto; }
        body .main .area-gera-senha .gera-senha-ticket-titulo {
          display: block;
          text-align: center;
          width: 100%;
          height: auto;
          margin: 15% 0;
          font-weight: bolder;
          text-transform: capitalize; }
        body .main .area-gera-senha .gera-senha-ticket-senha {
          display: block;
          width: 100%;
          padding-left: 15px;
          text-transform: capitalize;
          text-decoration: underline; }
        body .main .area-gera-senha .gera-senha-ticket-numero {
          display: block;
          width: 100%;
          height: auto;
          margin: 10% 0;
          text-align: center;
          font-size: 3rem;
          text-transform: capitalize; }
        body .main .area-gera-senha .gera-senha-ticket-data {
          line-height: 1.5em; }
        body .main .area-gera-senha .gera-senha-ticket-previsao {
          width: 100%;
          height: auto;
          margin-top: 10px;
          line-height: 1.5rem; }
    body .main .area-gerenciador {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding: 20px;
      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 30% 70%;
      grid-gap: 5px; }
      body .main .area-gerenciador .gerenciador-titulo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        border-bottom: 1px solid;
        text-transform: uppercase; }
        body .main .area-gerenciador .gerenciador-titulo h3 {
          font-size: 1.5rem;
          margin-bottom: 30px; }
      body .main .area-gerenciador .gerenciador-listas {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border-right: 1px solid; }
        body .main .area-gerenciador .gerenciador-listas .lista {
          border: 1px solid;
          width: 25%;
          height: 80%;
          text-align: center; }
          body .main .area-gerenciador .gerenciador-listas .lista-titulo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            width: 100%;
            height: 30px;
            text-transform: capitalize; }
          body .main .area-gerenciador .gerenciador-listas .lista-itens {
            width: 100%;
            height: calc(100% - 30px); }
            body .main .area-gerenciador .gerenciador-listas .lista-itens h4 {
              border-bottom: 1px solid #ccc;
              display: block;
              padding: .3rem;
              text-transform: capitalize;
              cursor: pointer; }
            body .main .area-gerenciador .gerenciador-listas .lista-itens h4:hover {
              background-color: #ccc; }
      body .main .area-gerenciador .gerenciador-botoes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        border-left: 1px solid; }
        body .main .area-gerenciador .gerenciador-botoes .conjunto-botoes {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          height: 30%; }
          body .main .area-gerenciador .gerenciador-botoes .conjunto-botoes .btn-gerenciador {
            height: 40%;
            margin: 0; }
    body .main .area-monitor {
      border: 1px solid red;
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    body .main .area-guiche {
      border: 1px solid orange;
      grid-column: 2 / 3;
      grid-row: 2 / 3; }

/*# sourceMappingURL=style.css.map */
