

@mixin container {
    padding: 5px;
    
}

// POSICIONAMENTO
@mixin dflex($direcao, $alinhamento){
    display: flex;
    flex-direction: $direcao;
    flex-wrap: wrap;
    justify-content: $alinhamento;
    align-items: center;
}


@mixin wheigth($altura) {
    width: 100%;
    height: $altura;
} 



