
@mixin container {
    border: 1px solid ;
    padding: 5px;
    
}

// POSICIONAMENTO
@mixin center-hv {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin linha-quebra {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@mixin center-v{
    display: flex;
    flex-direction: column;
    align-items: center;
}

