@import "./cores";
@import "./mixins";


* {
    
    box-sizing: border-box;
}
// CLASSES GENERICAS
.botoes{
    border-radius: 10px;
    width: 80%;
    height: 20%;
    margin-top: 15px;

    cursor: pointer;

}

body{   
    @include dflex(column, center);

    .main{
        // border: 1px solid red;
        width: 95vw;
        height: 100vh;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .area-gera-senha{
            @include dflex(row, space-around);
            border: 1px solid green;
            .gera-senha{
                @include dflex(column, center);
                border: 1px solid red;
                border-radius: 15px;
                width: 60%;
                height: 80%;

                &-visor{
                    border: 1px solid;
                    border-radius: 10px;
                    width: 85%;
                    height: 30px;
                }
                &-autoatendimento{
                    @include dflex(column, center);
                    // border: 1px solid orange;
                    width: 85%;
                    height: 65%;
                    margin-top: 15px;

                    justify-content: space-around;

                    .gerenciador{
                        width: 30%;
                        margin-top: 25px;
                        margin-left: 50%;

                        
                    }

                }

            }

            .gera-senha-ticket{
                @include container;
                border: 1px solid;
                width: 30%;
                height: auto;

                &-titulo{
                    display: block;
                    text-align: center;
                    width: 100%;
                    height: auto;
                    margin: 15% 0;
                    
                    font-weight: bolder;
                    text-transform: capitalize;

                }
                &-senha{
                    display: block;
                    width: 100%;
                    padding-left: 15px;

                    text-transform: capitalize;
                    text-decoration: underline;
                }
                &-numero{
                    display: block;
                    width: 100%;
                    height: auto;
                    margin: 10% 0;


                    text-align: center;
                    font-size: 3rem;
                    text-transform: capitalize;

                }
                &-data{
                    line-height: 1.5em;
                }
                &-previsao{
                    width: 100%;
                    height: auto;
                    margin-top: 10px;

                    line-height: 1.5rem;
                }

                
            }
            
        }
        .area-gerenciador{
            grid-column: 2 / 3;
            grid-row: 1 / 2;

            // border: 1px solid red;
            padding: 20px;


            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 30% 70%;
            grid-gap: 5px;

            .gerenciador-titulo{
                @include dflex(column, flex-end);
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                border-bottom: 1px solid;

                text-transform: uppercase;

                h3{
                    font-size: 1.5rem;
                    margin-bottom: 30px;
                }


            }
            .gerenciador-listas{
                @include dflex(row, space-around);

                grid-column: 1 / 2;
                grid-row: 2 / 3;    
                border-right: 1px solid;

                .lista{
                    border: 1px solid;
                    width: 25%;
                    height: 80%;
                    
                    text-align: center;

                    &-titulo{
                        @include dflex(row, center);
                        border: 1px solid;
                        width: 100%;
                        height: 30px;

                        text-transform: capitalize;

                    }
                    &-itens{
                        // border: 1px solid yellow;
                        width: 100%;
                        height: calc(100% - 30px);

                        h4{
                            border-bottom: 1px solid #ccc;
                            display: block;

                            padding: .3rem;

                            text-transform: capitalize;

                            cursor: pointer;
                        }
                        h4:hover{
                            background-color: #ccc;
                        }
                    }
                }

            }
            .gerenciador-botoes{
                @include dflex(column, space-around);
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                border-left: 1px solid;

                .conjunto-botoes{
                    @include dflex(column, space-around);
                    // border: 1px solid gray;
                    width: 100%;
                    height: 30%;

                    .btn-gerenciador{
                        height: 40%;
                        margin: 0;
                    }

                }

            }
        }

        .area-monitor{
            border: 1px solid red;

            grid-column: 1 / 2;
            grid-row: 2 / 3;

            
        }

        .area-guiche{
            border: 1px solid orange;

            grid-column: 2 / 3;
            grid-row: 2 / 3;
            
        }

    }
}